In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv('train.csv')
train_df.head()

,ID_Transaction,temperature_10H_max (°C),temperature_10H_min (°C),temperature-1,temperature-2,temperature-3,apparent_temperature_max,apparent_temperature_min,ID_Area,Machine,...,RPM,RPM-1,RPM-2,RPM-3,Vibration-1,Vibration-2,Power,Power_Backup,Status,Breakdown Category
0,TRXc8f4c2dcbfe501093501015b32bd0ba2,1110.970519,NaN,106.145582,38.779147,262.330188,33.916720,NaN,ID12,A.4,...,2666.124927,2956.904780,4779.579998,3681.056129,19.624641,40.938353,NaN,Yes,Warning,NaN
1,TRXe9e6c37fc1281efd6c5ba52fce259584,608.487665,19.932166,375.386134,17.736401,45.051041,4.542451,-21.991755,ID37,K.3,...,2907.253211,2773.384487,4282.046671,4527.123292,28.167360,NaN,311.803841,Yes,Normal,NaN
2,TRXcaef103041dfe1b84537bc3dbdbc6567,462.826917,3.185101,117.322749,22.256591,0.165788,8.695319,-31.803539,ID24,J.1,...,3215.057495,3072.879720,4180.407796,4841.741619,29.843080,46.980726,1257.681079,No,Normal,NaN
3,TRX06f9e5574a639bcedb7ec8c3cb9fbaa4,710.093309,26.190643,294.871314,30.639358,140.984886,18.843502,-39.872275,ID7,J.4,...,4361.849341,3295.409873,3337.288244,3877.348905,28.720636,54.860603,478.325694,No,Breakdown,Unplanned Downtime
4,TRXd8f3a5ce90d25127ba3240a12eb9c140,410.114364,9.664961,185.267516,28.154454,57.002150,23.915704,NaN,ID41,J.2,...,4817.893609,3084.624619,NaN,2501.387065,26.907301,NaN,674.159077,Yes,Breakdown,Unplanned Downtime

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13000000 entries, 0 to 12999999
Data columns (total 28 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ID_Transaction            object
 1   temperature_10H_max (°C)  float64
 2   temperature_10H_min (°C)  float64
 3   temperature-1             float64
 4   temperature-2             float64
 5   temperature-3             float64
 6   apparent_temperature_max  float64
 7   apparent_temperature_min  float64
 8   ID_Area                   object
 9   Machine                   object
 10  timestamp                 object
 11  humidity                  float64
 12  Voltage-L                 float64
 13  Voltage-R                 float64
 14  Voltage-M                 float64
 15  Current-M                 float64
 16  Current-R                 float64
 17  Current-T                 float64
 18  RPM                       float64
 19  RPM-1                     float64
 20  RPM-2                     float64
 21  RPM-3                     float64
 22  Vibration-1               float64
 23  Vibration-2               float64
 24  Power                     float64
 25  Power_Backup              object
 26  Status                    object
 27  Breakdown Category        object
dtypes: float64(21), object(7)
memory usage: 2.7+ GB

In [4]:
train_df.isna().sum()

ID_Transaction                    0
temperature_10H_max (°C)     372665
temperature_10H_min (°C)    2488572
temperature-1                378878
temperature-2               1508600
temperature-3                468901
apparent_temperature_max    2775038
apparent_temperature_min    2621692
ID_Area                     2245196
Machine                     2184031
timestamp                         0
humidity                    2532064
Voltage-L                   1255754
Voltage-R                    897445
Voltage-M                    445621
Current-M                    141165
Current-R                    182444
Current-T                   2954720
RPM                         1440706
RPM-1                       1745236
RPM-2                       2438948
RPM-3                       2360433
Vibration-1                  696210
Vibration-2                 1973544
Power                       1702431
Power_Backup                 437397
Status                            0
Breakdown Category          9594402
dtype: int64

In [5]:
print("Jumlah Duplikasi: ", train_df.duplicated().sum())

Jumlah Duplikasi:  0

In [6]:
num_cols = ['temperature_10H_max (°C)', 'temperature_10H_min (°C)', 'temperature-1', 'temperature-2', 'temperature-3', 'apparent_temperature_max', 'apparent_temperature_min', 'humidity', 'Voltage-L', 'Voltage-R', 'Voltage-M', 'Current-M', 'Current-R', 'Current-T', 'RPM', 'RPM-1', 'RPM-2', 'RPM-3', 'Vibration-1', 'Vibration-2', 'Power'] 
train_df[num_cols] = train_df[num_cols].fillna(train_df[num_cols].mean())

cat_cols = ['ID_Area', 'Machine', 'Power_Backup'] 
train_df[cat_cols] = train_df[cat_cols].apply(lambda x: x.fillna(x.mode()[0]))

In [7]:
train_df.isna().sum()

ID_Transaction                    0
temperature_10H_max (°C)          0
temperature_10H_min (°C)          0
temperature-1                     0
temperature-2                     0
temperature-3                     0
apparent_temperature_max          0
apparent_temperature_min          0
ID_Area                           0
Machine                           0
timestamp                         0
humidity                          0
Voltage-L                         0
Voltage-R                         0
Voltage-M                         0
Current-M                         0
Current-R                         0
Current-T                         0
RPM                               0
RPM-1                             0
RPM-2                             0
RPM-3                             0
Vibration-1                       0
Vibration-2                       0
Power                             0
Power_Backup                      0
Status                            0
Breakdown Category          9594402
dtype: int64